Repository o1298098/remote-play: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-remoteplay, build-dbtool, build-web

.gitlab-ci.yml:

stages:
  - build
  - push

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  # 镜像名称前缀，使用 GitLab 容器仓库
  REGISTRY_IMAGE: $CI_REGISTRY_IMAGE
  # 使用提交 SHA 短版本作为标签，更精确的版本控制
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  # 分支名作为额外标签
  BRANCH_TAG: $CI_COMMIT_REF_SLUG

# 构建 RemotePlay 后端服务
build-remoteplay:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/server
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      set -e
      cd RemotePlay
      docker buildx create --use --name multiarch-builder || docker buildx use multiarch-builder
      docker buildx inspect multiarch-builder --bootstrap
      TAG_ARGS="-t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:$BRANCH_TAG"
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG_ARGS="$TAG_ARGS -t $IMAGE_NAME:latest"
      fi
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        $TAG_ARGS \
        -f Dockerfile \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - RemotePlay/**/*
        - RemotePlay/Dockerfile
        - RemotePlay/RemotePlay.csproj
        - .gitlab-ci.yml
  tags:
    - docker

# 构建 RemotePlay.DBTool
build-dbtool:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/dbtool
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      set -e
      docker buildx create --use --name multiarch-builder || docker buildx use multiarch-builder
      docker buildx inspect multiarch-builder --bootstrap
      TAG_ARGS="-t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:$BRANCH_TAG"
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG_ARGS="$TAG_ARGS -t $IMAGE_NAME:latest"
      fi
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        $TAG_ARGS \
        -f RemotePlay.DBTool/Dockerfile \
        --build-arg BUILD_CONFIGURATION=Release \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - RemotePlay.DBTool/**/*
        - RemotePlay/**/*
        - RemotePlay.DBTool/Dockerfile
        - RemotePlay.DBTool/RemotePlay.DBTool.csproj
        - .gitlab-ci.yml
  tags:
    - docker

# 构建 remoteplay.web 前端
build-web:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/web
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      set -e
      cd RemotePlay.Web
      docker buildx create --use --name multiarch-builder || docker buildx use multiarch-builder
      docker buildx inspect multiarch-builder --bootstrap
      TAG_ARGS="-t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:$BRANCH_TAG"
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG_ARGS="$TAG_ARGS -t $IMAGE_NAME:latest"
      fi
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        $TAG_ARGS \
        -f Dockerfile \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - RemotePlay.Web/**/*
        - RemotePlay.Web/Dockerfile
        - RemotePlay.Web/package.json
        - .gitlab-ci.yml
        - RemotePlay.Web/.gitlab-ci.yml
  tags:
    - docker

rollback
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
Due: build-remoteplay, build-dbtool, build-web

add gui settings
  RemotePlay.DBTool/appsettings.json
  RemotePlay.Web/src/App.tsx
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/pages/device/components/DeviceSettingsDialog.tsx
  RemotePlay.Web/src/pages/device/components/DevicesHeader.tsx
  RemotePlay.Web/src/pages/setting/ControllerMapping.tsx
  RemotePlay.Web/src/pages/setting/Profile.tsx
  RemotePlay.Web/src/pages/setting/Settings.tsx
  RemotePlay.Web/src/pages/setting/TurnServerSettings.tsx
  RemotePlay.Web/src/pages/setting/components/ControllerMappingTab.tsx
  RemotePlay.Web/src/pages/setting/components/TurnServerSettingsTab.tsx
  RemotePlay.Web/src/pages/setting/components/WebRTCSettingsTab.tsx
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Audio.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
  RemotePlay/Services/WebRTC/WebRTCSignalingService.Sdp.cs
  RemotePlay/Services/WebRTC/WebRTCSignalingService.cs
  RemotePlay/appsettings.json
Due: build-remoteplay, build-dbtool, build-web

update readme
  README.md
  README.zh-CN.md
Due: none

fixed bug
  RemotePlay.Web/src/pages/device/components/DevicesHeader.tsx
  RemotePlay.Web/src/pages/setting/ControllerMapping.tsx
  RemotePlay.Web/src/pages/setting/Profile.tsx
  RemotePlay.Web/src/pages/setting/Settings.tsx
  RemotePlay.Web/src/pages/setting/TurnServerSettings.tsx
  RemotePlay.Web/src/pages/setting/components/ControllerMappingTab.tsx
Due: build-web

Add multilingual support
  RemotePlay.Web/src/components/LanguageSwitcher.tsx
  RemotePlay.Web/src/i18n/config.ts
  RemotePlay.Web/src/i18n/locales/de.json
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/es.json
  RemotePlay.Web/src/i18n/locales/fr.json
  RemotePlay.Web/src/i18n/locales/ja.json
  RemotePlay.Web/src/i18n/locales/ko.json
  RemotePlay.Web/src/i18n/locales/ru.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/i18n/locales/zh-TW.json
Due: build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/pages/setting/components/WebRTCSettingsTab.tsx
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Models/Configuration/WebRTCConfig.cs
  RemotePlay/Services/WebRTC/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/i18n/config.ts
  RemotePlay.Web/src/i18n/locales/de.json
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/es.json
  RemotePlay.Web/src/i18n/locales/fr.json
  RemotePlay.Web/src/i18n/locales/ja.json
  RemotePlay.Web/src/i18n/locales/ko.json
  RemotePlay.Web/src/i18n/locales/ru.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/i18n/locales/zh-TW.json
  RemotePlay.Web/src/pages/setting/TurnServerSettings.tsx
  RemotePlay.Web/src/pages/setting/components/TurnServerSettingsTab.tsx
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay.Web/src/utils/turn-connection-test.ts
  RemotePlay.Web/src/utils/turn-server-test.ts
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
  RemotePlay/Services/WebRTC/WebRTCSignalingService.Sdp.cs
  RemotePlay/Services/WebRTC/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/utils/turn-server-test.ts
Due: build-web

fixed bug
  RemotePlay.Web/src/pages/setting/components/TurnServerSettingsTab.tsx
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay.Web/src/utils/turn-connection-test.ts
  RemotePlay.Web/src/utils/turn-server-test.ts
  RemotePlay/Controllers/WebRTCController.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/i18n/locales/de.json
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/es.json
  RemotePlay.Web/src/i18n/locales/fr.json
  RemotePlay.Web/src/i18n/locales/ja.json
  RemotePlay.Web/src/i18n/locales/ko.json
  RemotePlay.Web/src/i18n/locales/ru.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/i18n/locales/zh-TW.json
  RemotePlay.Web/src/service/api-client.ts
  RemotePlay.Web/src/utils/error-code-translator.ts
  RemotePlay/Controllers/AuthController.cs
  RemotePlay/Controllers/EnumController.cs
  RemotePlay/Controllers/PlayStationController.cs
  RemotePlay/Controllers/ProfileController.cs
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Models/Base/ApiResponse.cs
  RemotePlay/Models/Base/ErrorCode.cs
  RemotePlay/Services/WebRTC/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool, build-web

Optimize WebRTC processing
  RemotePlay/Services/Streaming/Receiver/Video/ReflectionMethodCache.cs
  RemotePlay/Services/Streaming/Receiver/Video/VideoPipeline.cs
  RemotePlay/Services/Streaming/Receiver/Video/VideoQueueManager.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Rtp.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Rtp.cs
Due: build-remoteplay, build-dbtool

feat: add TURN bandwidth testing
  RemotePlay.Web/src/i18n/locales/de.json
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/es.json
  RemotePlay.Web/src/i18n/locales/fr.json
  RemotePlay.Web/src/i18n/locales/ja.json
  RemotePlay.Web/src/i18n/locales/ko.json
  RemotePlay.Web/src/i18n/locales/ru.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/i18n/locales/zh-TW.json
  RemotePlay.Web/src/pages/setting/components/TurnServerSettingsTab.tsx
  RemotePlay.Web/src/utils/turn-test.ts
Due: build-web

Optimize device discovery logic
  RemotePlay.DBTool/Migrations/RemotePlay/20251205123653_AddLastSeenAtToDevice.Designer.cs
  RemotePlay.DBTool/Migrations/RemotePlay/20251205123653_AddLastSeenAtToDevice.cs
  RemotePlay.DBTool/Script/AddLastSeenAtToDevice.sql
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/pages/streaming/components/StreamingTopBar.tsx
  RemotePlay.Web/src/pages/streaming/index.tsx
  RemotePlay.Web/src/service/streaming-hub.service.ts
  RemotePlay/Contracts/Services/IStreamingService.cs
  RemotePlay/Hubs/StreamingHub.cs
  RemotePlay/Models/DB/PlayStation/Device.cs
  RemotePlay/Services/Device/DeviceStatusUpdateService.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/Core/RPStreamV2.cs
  RemotePlay/Services/Streaming/StreamingService.cs
  RemotePlay/appsettings.json
Due: build-remoteplay, build-dbtool, build-web

switch to av pipeline
  RemotePlay/Controllers/AuthController.cs
  RemotePlay/Controllers/EnumController.cs
  RemotePlay/Controllers/PlayStationController.cs
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Core/RPStreamV2.Pipeline.cs
  RemotePlay/Services/Streaming/Core/RPStreamV2.cs
  RemotePlay/Services/Streaming/Pipeline/AVPipelineCoordinator.cs
  RemotePlay/Services/Streaming/Pipeline/AudioPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/IngestPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/OutputPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/VideoPipeline.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AudioReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/Core/RPStreamV2.cs
  RemotePlay/Services/Streaming/Pipeline/AudioPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/IngestPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/VideoPipeline.cs
  RemotePlay/Utils/Crypto/BaseCipher.cs
  RemotePlay/Utils/Crypto/LocalCipher.cs
  RemotePlay/Utils/Crypto/RemoteCipher.cs
  RemotePlay/Utils/Crypto/StreamCipher.cs
Due: build-remoteplay, build-dbtool

feat: add streaming duration tracking and display in stats
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/i18n/locales/de.json
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/es.json
  RemotePlay.Web/src/i18n/locales/fr.json
  RemotePlay.Web/src/i18n/locales/ja.json
  RemotePlay.Web/src/i18n/locales/ko.json
  RemotePlay.Web/src/i18n/locales/ru.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/i18n/locales/zh-TW.json
  RemotePlay.Web/src/pages/streaming/components/MobileStatsBar.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingStatsOverlay.tsx
Due: build-web

fixed bug
  RemotePlay.Web/src/pages/streaming/components/MobileStatsBar.tsx
Due: build-web

fixed bug
  RemotePlay/Services/Streaming/AV/AudioReceiver.cs
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/Pipeline/AVPipelineCoordinator.cs
  RemotePlay/Services/Streaming/Pipeline/VideoPipeline.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/pages/streaming/components/FrameCountChart.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingStatsOverlay.tsx
  RemotePlay/Services/Streaming/Pipeline/AVPipelineCoordinator.cs
  RemotePlay/Services/Streaming/Pipeline/AudioPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/OutputPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/VideoPipeline.cs
  RemotePlay/Services/Streaming/Receiver/Video/VideoPipeline.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Pipeline/OutputPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/VideoPipeline.cs
Due: build-remoteplay, build-dbtool

rollback
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Pipeline/OutputPipeline.cs
  RemotePlay/Services/Streaming/Pipeline/VideoPipeline.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Pipeline/VideoPipeline.cs
Due: build-remoteplay, build-dbtool
