Repository o1298098/remote-play: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-remoteplay, build-dbtool, build-web

.gitlab-ci.yml:

stages:
  - build
  - push

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  # 镜像名称前缀，使用 GitLab 容器仓库
  REGISTRY_IMAGE: $CI_REGISTRY_IMAGE
  # 使用提交 SHA 短版本作为标签，更精确的版本控制
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  # 分支名作为额外标签
  BRANCH_TAG: $CI_COMMIT_REF_SLUG

# 构建 RemotePlay 后端服务
build-remoteplay:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/server
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      set -e
      cd RemotePlay
      docker buildx create --use --name multiarch-builder || docker buildx use multiarch-builder
      docker buildx inspect multiarch-builder --bootstrap
      TAG_ARGS="-t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:$BRANCH_TAG"
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG_ARGS="$TAG_ARGS -t $IMAGE_NAME:latest"
      fi
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        $TAG_ARGS \
        -f Dockerfile \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - RemotePlay/**/*
        - RemotePlay/Dockerfile
        - RemotePlay/RemotePlay.csproj
        - .gitlab-ci.yml
  tags:
    - docker

# 构建 RemotePlay.DBTool
build-dbtool:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/dbtool
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      set -e
      docker buildx create --use --name multiarch-builder || docker buildx use multiarch-builder
      docker buildx inspect multiarch-builder --bootstrap
      TAG_ARGS="-t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:$BRANCH_TAG"
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG_ARGS="$TAG_ARGS -t $IMAGE_NAME:latest"
      fi
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        $TAG_ARGS \
        -f RemotePlay.DBTool/Dockerfile \
        --build-arg BUILD_CONFIGURATION=Release \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - RemotePlay.DBTool/**/*
        - RemotePlay/**/*
        - RemotePlay.DBTool/Dockerfile
        - RemotePlay.DBTool/RemotePlay.DBTool.csproj
        - .gitlab-ci.yml
  tags:
    - docker

# 构建 remoteplay.web 前端
build-web:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/web
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      set -e
      cd RemotePlay.Web
      docker buildx create --use --name multiarch-builder || docker buildx use multiarch-builder
      docker buildx inspect multiarch-builder --bootstrap
      TAG_ARGS="-t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:$BRANCH_TAG"
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG_ARGS="$TAG_ARGS -t $IMAGE_NAME:latest"
      fi
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        $TAG_ARGS \
        -f Dockerfile \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - RemotePlay.Web/**/*
        - RemotePlay.Web/Dockerfile
        - RemotePlay.Web/package.json
        - .gitlab-ci.yml
        - RemotePlay.Web/.gitlab-ci.yml
  tags:
    - docker

fixed bug
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
Due: build-web

add mobile controller layout
  README.md
  README.zh-CN.md
  RemotePlay.Web/docs/images/streaming-demo.png
  RemotePlay.Web/index.html
  RemotePlay.Web/src/assets/circle.svg
  RemotePlay.Web/src/assets/cross.svg
  RemotePlay.Web/src/assets/direction-down.svg
  RemotePlay.Web/src/assets/direction-left.svg
  RemotePlay.Web/src/assets/direction-right.svg
  RemotePlay.Web/src/assets/direction-up.svg
  RemotePlay.Web/src/assets/outline-PS.svg
  RemotePlay.Web/src/assets/pad.svg
  RemotePlay.Web/src/assets/plain-L1.svg
  RemotePlay.Web/src/assets/plain-L2.svg
  RemotePlay.Web/src/assets/plain-R1.svg
  RemotePlay.Web/src/assets/plain-R2.svg
  RemotePlay.Web/src/assets/plain-small-option.svg
  RemotePlay.Web/src/assets/plain-small-share.svg
  RemotePlay.Web/src/assets/square.svg
  RemotePlay.Web/src/assets/triangle.svg
  RemotePlay.Web/src/components/PS5ControllerLayout.tsx
  RemotePlay.Web/src/hooks/use-device.ts
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/constants.ts
  RemotePlay.Web/src/index.css
  RemotePlay.Web/src/pages/device/components/AddDeviceCard.tsx
  RemotePlay.Web/src/pages/device/components/DeviceCard.tsx
  RemotePlay.Web/src/pages/device/components/DeviceCardSkeleton.tsx
  RemotePlay.Web/src/pages/device/components/DevicesHeader.tsx
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingTopBar.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingVideoPlayer.tsx
  RemotePlay.Web/src/pages/streaming/index.tsx
  RemotePlay.Web/src/utils/device-detection.ts
Due: build-web

fixed bug
  RemotePlay.Web/src/pages/device/index.tsx
Due: build-web

fixed bug
  .github/workflows/docker-build.yml
  RemotePlay.Web/docs/images/streaming-demo.png
Due: build-web

fixed bug
  RemotePlay.Web/src/assets/circle.png
  RemotePlay.Web/src/assets/circle.svg
  RemotePlay.Web/src/assets/cross.png
  RemotePlay.Web/src/assets/direction-down.png
  RemotePlay.Web/src/assets/direction-left.png
  RemotePlay.Web/src/assets/direction-right.png
  RemotePlay.Web/src/assets/direction-up.png
  RemotePlay.Web/src/assets/outline-PS.png
  RemotePlay.Web/src/assets/pad.png
  RemotePlay.Web/src/assets/plain-L1.png
  RemotePlay.Web/src/assets/plain-L2.png
  RemotePlay.Web/src/assets/plain-R1.png
  RemotePlay.Web/src/assets/plain-R2.png
  RemotePlay.Web/src/assets/plain-small-option.png
  RemotePlay.Web/src/assets/plain-small-share.png
  RemotePlay.Web/src/assets/square.png
  RemotePlay.Web/src/assets/triangle.png
  RemotePlay.Web/src/components/icons/CircleIcon.tsx
  RemotePlay.Web/src/components/icons/CrossIcon.tsx
  RemotePlay.Web/src/components/icons/DirectionDownIcon.tsx
  RemotePlay.Web/src/components/icons/DirectionLeftIcon.tsx
  RemotePlay.Web/src/components/icons/DirectionRightIcon.tsx
  RemotePlay.Web/src/components/icons/DirectionUpIcon.tsx
  RemotePlay.Web/src/components/icons/OptionsIcon.tsx
  RemotePlay.Web/src/components/icons/PSIcon.tsx
  RemotePlay.Web/src/components/icons/PlainL1Icon.tsx
  RemotePlay.Web/src/components/icons/PlainL2Icon.tsx
  RemotePlay.Web/src/components/icons/PlainR1Icon.tsx
  RemotePlay.Web/src/components/icons/PlainR2Icon.tsx
  RemotePlay.Web/src/components/icons/ShareIcon.tsx
  RemotePlay.Web/src/components/icons/SquareIcon.tsx
  RemotePlay.Web/src/components/icons/TriangleIcon.tsx
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  .github/workflows/docker-build.yml
  .gitlab-ci.yml
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
  RemotePlay/Dockerfile
Due: build-remoteplay, build-dbtool, build-web

update cicd
  .github/workflows/docker-build.yml
  .gitlab-ci.yml
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/constants.ts
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
Due: build-web

fixed bug
  README.md
  README.zh-CN.md
  RemotePlay.Web/src/assets/direction-down.png
  RemotePlay.Web/src/assets/direction-left.png
  RemotePlay.Web/src/assets/direction-right.png
  RemotePlay.Web/src/assets/direction-up.png
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
  RemotePlay/Program.cs
  RemotePlay/Services/Session/SessionService.cs
  RemotePlay/Services/Streaming/StreamingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Services/Controller/ControllerService.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Core/RPStreamV2.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/stick-input-state.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/virtual-joystick-state.ts
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
Due: build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/hooks/use-toast.ts
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/pages/streaming/components/MobileStatsBar.tsx
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingStatsOverlay.tsx
  RemotePlay.Web/src/pages/streaming/index.tsx
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/FrameProcessor.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
  RemotePlay/Services/Streaming/Congestion/CongestionControlService.cs
  RemotePlay/Services/Streaming/Congestion/PacketStats.cs
  RemotePlay/Services/Streaming/Core/RPStreamV2.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-toast.ts
Due: build-web

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamParser.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamSlice.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Audio.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/Bitstream/ReferenceFrameManager.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Receiver/FfmpegMuxReceiver.cs
  RemotePlay/Services/Streaming/Receiver/Video/ConnectionStateMonitor.cs
  RemotePlay/Services/Streaming/Receiver/Video/ReflectionMethodCache.cs
  RemotePlay/Services/Streaming/Receiver/Video/RtpPacketizer.cs
  RemotePlay/Services/Streaming/Receiver/Video/TimestampManager.cs
  RemotePlay/Services/Streaming/Receiver/Video/VideoFrame.cs
  RemotePlay/Services/Streaming/Receiver/Video/VideoPipeline.cs
  RemotePlay/Services/Streaming/Receiver/Video/VideoQueueManager.cs
  RemotePlay/Services/Streaming/Receiver/Video/VideoSender.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Rtp.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/Receiver/Video/RtpPacketizer.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Audio.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
  RemotePlay/Services/Streaming/Buffer/ReorderQueue.cs
  RemotePlay/Services/Streaming/Buffer/SpscQueue.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay.Web/src/pages/streaming/components/MobileStatsBar.tsx
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AudioReceiver.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Audio.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/assets/direction-down-gray.svg
  RemotePlay.Web/src/assets/direction-left-gray.svg
  RemotePlay.Web/src/assets/direction-right-gray.svg
  RemotePlay.Web/src/assets/direction-up-gray.svg
  RemotePlay.Web/src/assets/outline-blue-cross.svg
  RemotePlay.Web/src/assets/outline-green-triangle.svg
  RemotePlay.Web/src/assets/outline-purple-square.svg
  RemotePlay.Web/src/assets/outline-red-circle.svg
  RemotePlay.Web/src/assets/plain-L1-gray.svg
  RemotePlay.Web/src/assets/plain-L2-gray.svg
  RemotePlay.Web/src/assets/plain-R1-gray.svg
  RemotePlay.Web/src/assets/plain-R2-gray.svg
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualControllerPortrait.tsx
  RemotePlay.Web/src/pages/streaming/index.tsx
Due: build-web

fixed bug
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualController.tsx
  RemotePlay.Web/src/pages/streaming/components/MobileVirtualControllerPortrait.tsx
  RemotePlay.Web/src/pages/streaming/index.tsx
Due: build-web

fixed bug
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
Due: build-remoteplay, build-dbtool

add debug log
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
Due: build-remoteplay, build-dbtool

rollback
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

rollback
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Keepalive.cs
Due: build-remoteplay, build-dbtool
