Repository o1298098/remote-play: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-remoteplay, build-dbtool, build-web

build-remoteplay:
  stage: push
  image: docker:24
  services:
  - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/server
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

build-dbtool:
  stage: push
  image: docker:24
  services:
  - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/dbtool
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

build-web:
  stage: push
  image: docker:24
  services:
  - docker:24-dind
  variables:
    IMAGE_NAME: $REGISTRY_IMAGE/web
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

fixed github action
  .github/workflows/docker-build.yml
Due: none

update readme
  README.md
  README.zh-CN.md
Due: none

fixed bug
  README.md
  README.zh-CN.md
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/constants.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/stick-input-state.ts
  RemotePlay.Web/src/service/controller.service.ts
  RemotePlay.Web/src/service/gamepad.service.ts
  RemotePlay/Contracts/Services/IControllerService.cs
  RemotePlay/Controllers/PlayStationController.cs
  RemotePlay/Hubs/ControllerHub.cs
  RemotePlay/Models/PlayStation/ControllerTriggerRequest.cs
  RemotePlay/Services/ControllerService.cs
  RemotePlay/Services/StreamingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay/Controllers/PlayStationController.cs
  RemotePlay/Models/PlayStation/RegisterResult.cs
  RemotePlay/Services/RegisterService.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay.DBTool/Migrations/RemotePlay/20251110154442_init.Designer.cs
  RemotePlay.DBTool/Migrations/RemotePlay/20251110154442_init.cs
  RemotePlay.DBTool/Migrations/RemotePlay/RPContextModelSnapshot.cs
  RemotePlay.DBTool/Script/init.sql
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay/Models/Context/RPContext.cs
  RemotePlay/Models/DB/Auth/User.cs
  RemotePlay/Models/DB/Auth/UserDevice.cs
  RemotePlay/Models/DB/Base/Enum.cs
  RemotePlay/Models/DB/Base/Log.cs
  RemotePlay/Models/DB/Base/Settings.cs
  RemotePlay/Models/DB/PlayStation/DeviceConfig.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/pages/device/components/DeviceCard.tsx
  RemotePlay.Web/src/pages/device/components/DeviceSettingsDialog.tsx
  RemotePlay.Web/src/pages/device/index.tsx
  RemotePlay/Controllers/PlayStationController.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Hubs/StreamingHub.cs
  RemotePlay/Program.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/pages/setting/ControllerMapping.tsx
  RemotePlay.Web/src/service/controller.service.ts
  RemotePlay.Web/src/service/rumble.service.ts
  RemotePlay.Web/src/service/streaming-hub.service.ts
  RemotePlay.Web/src/types/controller.ts
  RemotePlay.Web/src/utils/webrtc-optimization.ts
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Models/WebRTC/LatencyReceiveRequest.cs
  RemotePlay/Models/WebRTC/WebRTCAnswerRequest.cs
  RemotePlay/Models/WebRTC/WebRTCIceCandidateRequest.cs
  RemotePlay/Models/WebRTC/WebRTCOfferRequest.cs
  RemotePlay/Models/WebRTC/WebRTCOfferResponse.cs
  RemotePlay/Models/WebRTC/WebRTCSessionStatus.cs
  RemotePlay/Services/ControllerService.cs
  RemotePlay/Services/Streaming/FeedbackSenderService.cs
  RemotePlay/Services/Streaming/Packets.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Rtcp.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
  RemotePlay/Services/Streaming/RumbleEventArgs.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/constants.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/stick-input-state.ts
  RemotePlay.Web/src/hooks/use-streaming-connection/use-mouse-right-stick.ts
  RemotePlay.Web/src/utils/keyboard-mapping.ts
  RemotePlay/Services/Streaming/RPStreamV2.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  README.md
  README.zh-CN.md
  RemotePlay.Web/docs/devices-overview.png
  RemotePlay.Web/src/components/PS5ControllerLayout.tsx
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/pages/device/components/AddDeviceCard.tsx
  RemotePlay.Web/src/pages/device/components/DeviceCard.tsx
  RemotePlay.Web/src/pages/setting/ControllerMapping.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingController.tsx
  RemotePlay.Web/src/types/controller-mapping.ts
  RemotePlay.Web/src/utils/keyboard-mapping.ts
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/wwwroot/hls-player.html
  RemotePlay/wwwroot/webrtc-player.html
Due: build-remoteplay, build-dbtool, build-web

update image path
  RemotePlay.Web/docs/images/devices-overview.png
Due: build-web

fixed bug
  README.md
  README.zh-CN.md
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/pages/streaming/components/StreamingHeader.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingLoading.tsx
  RemotePlay.Web/src/pages/streaming/components/StreamingVideoPlayer.tsx
Due: build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Models/Streaming/StreamHealthState.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AVStream.cs
  RemotePlay/Services/Streaming/CongestionControlService.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
  RemotePlay/Services/Streaming/ReorderQueue.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/i18n/locales/en.json
  RemotePlay.Web/src/i18n/locales/zh-CN.json
  RemotePlay.Web/src/pages/streaming/components/StreamingTopBar.tsx
  RemotePlay.Web/src/pages/streaming/index.tsx
  RemotePlay/Controllers/EnumController.cs
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Models/Streaming/StreamHealthState.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AVStream.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamParser.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamSlice.cs
  RemotePlay/Services/Streaming/AV/Bitstream/ReferenceFrameManager.cs
  RemotePlay/Services/Streaming/AV/StreamStats.cs
  RemotePlay/Services/Streaming/Congestion/BandwidthEstimator.cs
  RemotePlay/Services/Streaming/CongestionControlService.cs
  RemotePlay/Services/Streaming/Emergency/EmergencyRecoveryEvent.cs
  RemotePlay/Services/Streaming/Emergency/EmergencyRecoveryService.cs
  RemotePlay/Services/Streaming/Quality/AdaptiveStreamManager.cs
  RemotePlay/Services/Streaming/Quality/VideoProfile.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
  RemotePlay/Services/Streaming/ReorderQueue.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Models/Streaming/StreamHealthState.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AVStream.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamParser.cs
  RemotePlay/Services/Streaming/Emergency/EmergencyRecoveryService.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
  RemotePlay/Services/Streaming/SequenceNumber.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AVStream.cs
  RemotePlay/Services/Streaming/Congestion/CongestionControlService.cs
  RemotePlay/Services/Streaming/Emergency/EmergencyRecoveryEvent.cs
  RemotePlay/Services/Streaming/Emergency/EmergencyRecoveryService.cs
  RemotePlay/Services/Streaming/FeedbackSenderService.cs
  RemotePlay/Services/Streaming/Quality/AdaptiveStreamManager.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.Video.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
  RemotePlay/Services/Streaming/SendBuffer.cs
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Models/Streaming/StreamHealthState.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AVStream.cs
  RemotePlay/Services/Streaming/AV/AudioReceiver.cs
  RemotePlay/Services/Streaming/AV/FrameProcessor.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
  RemotePlay/Services/Streaming/Congestion/CongestionControlService.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/ReorderQueue.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AudioReceiver.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamParser.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamSlice.cs
  RemotePlay/Services/Streaming/AV/Bitstream/ReferenceFrameManager.cs
  RemotePlay/Services/Streaming/AV/FrameProcessor.cs
  RemotePlay/Services/Streaming/AV/StreamStats.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
  RemotePlay/Services/Streaming/Congestion/BandwidthEstimator.cs
  RemotePlay/Services/Streaming/Congestion/CongestionControlService.cs
  RemotePlay/Services/Streaming/Emergency/EmergencyRecoveryEvent.cs
  RemotePlay/Services/Streaming/Emergency/EmergencyRecoveryService.cs
  RemotePlay/Services/Streaming/ProtoHandler.cs
  RemotePlay/Services/Streaming/Quality/AdaptiveStreamManager.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
  RemotePlay/Services/Streaming/Receiver/FfmpegMuxReceiver.cs
  RemotePlay/Services/Streaming/SenkushaService.cs
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/AudioReceiver.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/Bitstream/BitstreamParser.cs
  RemotePlay/Services/Streaming/AV/Bitstream/RbspParser.cs
  RemotePlay/Services/Streaming/AV/Bitstream/VlcParser.cs
  RemotePlay/Services/Streaming/AV/FrameProcessor.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
  RemotePlay/Services/Streaming/Congestion/CongestionControlService.cs
  RemotePlay/Services/Streaming/RPStreamV2.cs
  RemotePlay/Services/Streaming/Receiver/WebRTCReceiver.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Controllers/StreamingController.cs
  RemotePlay/Services/Streaming/AV/AVHandler.cs
  RemotePlay/Services/Streaming/AV/VideoReceiver.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
Due: build-web

fixed bug
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay/Controllers/WebRTCController.cs
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/service/streaming.service.ts
  RemotePlay/Services/WebRTCSignalingService.cs
Due: build-remoteplay, build-dbtool, build-web

fixed bug
  RemotePlay.Web/src/hooks/use-streaming-connection.ts
  RemotePlay.Web/src/service/streaming.service.ts
Due: build-web

Path conditions:
  build-remoteplay: any of: RemotePlay/**/*, RemotePlay/Dockerfile, RemotePlay/RemotePlay.csproj, .gitlab-ci.yml
  build-dbtool: any of: RemotePlay.DBTool/**/*, RemotePlay/**/*, RemotePlay.DBTool/Dockerfile, RemotePlay.DBTool/RemotePlay.DBTool.csproj, .gitlab-ci.yml
  build-web: any of: RemotePlay.Web/**/*, RemotePlay.Web/Dockerfile, RemotePlay.Web/package.json, .gitlab-ci.yml, RemotePlay.Web/.gitlab-ci.yml
